# IDE
*.iml
.idea
.nova
.vscode

# npm
node_modules
package-lock.json

# build
out

# obsidian
data.json

# testing
test/vault/.obsidian/plugins/homepage/*
test/vault/.obsidian/workspace.json
test/vault/.obsidian/workspaces.json
test/vault/.obsidian/app.json
